.dark-boxing {
  background: var(--secondary-background-color);
  color: var(--secondary-color);
}
.link-box-lighting {
  color: var(--secondary-color);
}

.link-box-bordering {
  border-right: solid var(--secondary-color) 0.1rem;
  padding: 0 0.7rem;
}

.link-box-padding-right {
  padding-right: 2.7rem;
}

.btn-menu {
  background: transparent;
  color: var(--Primary-color);
  border: none;
  font-family: var(--primary-font);
  font-size: var(--primary-font-size);
}

.btn-menu:hover {
  font-weight: var(--primary-font-weight);
  cursor: pointer;
}

.link-hovering:hover {
  font-weight: var(--primary-font-weight);
}

.economic-box {
    width: 19%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.4rem;
}

.economic-box span {
    color: var(--marker-color-negative);
}

.economic-box p {
    position: relative;
}

.economic-box p::after{
    content: "";
  position: absolute;
  border-style: solid;
  border-width: 0.7rem;
  border-color: var(--marker-color-negative) transparent transparent;
  width: 0rem;
  height: 1rem;
  top: 0.4rem;
  right: -1.6rem;
}